*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  margin: 0;
  border: 10px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
